<template>
  <div class="home-page">
    <div class="bg-image"></div>
    <GiftBox
      :isShow="isShowGiftBox"
      :boxCount="boxCount"
      :gift="gift"
      @show="showPopupThankYou"
    />
    <ThankYou :isShow="isShowThankYou" />
  </div>
</template>

<script>
import GiftBox from "@/components/GiftBox.vue";
import ThankYou from "@/components/ThankYou.vue";

export default {
  components: { GiftBox, ThankYou },

  data() {
    return {
      isShowGiftBox: false,
      isShowThankYou: false,
      count: 0,
      textContent: "Guess What I Bought You!",
      boxCount: 1,
      images: ["ao-2d"],
      gifts: {
        gift150: {
          case1: {
            box1: "ao-2d",
          },
          case2: {
            box1: "mug",
          },
          case3: {
            box1: "ao-2d",
          },
        },
        gift300: {
          case1: {
            box1: "ao-2d",
            box2: ["tumbler", "pillow-cover", "luggage-cover"],
          },
          case2: {
            box1: "mug",
            box2: ["tumbler", "pillow-cover", "luggage-cover"],
          },
          case3: {
            box1: "ao-2d",
            box2: ["tumbler", "pillow-cover", "luggage-cover"],
          },
        },
        gift450: {
          case1: {
            box1: "ao-2d",
            box2: "travel-bag",
            box3: ["tumbler", "pillow-cover", "luggage-cover"],
            voucher: 40,
          },
          case2: {
            box1: "mug",
            box2: "travel-bag",
            box3: ["tumbler", "pillow-cover", "luggage-cover"],
            voucher: 40,
          },
          case3: {
            box1: "ao-2d",
            box2: "travel-bag",
            box3: ["tumbler", "pillow-cover", "luggage-cover"],
            voucher: 40,
          },
        },
      },
      gift: {},
    };
  },

  async mounted() {
    await this.checkGift();
    await this.startCount();
  },

  watch: {
    count(value) {
      if (value == 1) {
        this.startGiftBox();
      }
    },
  },

  methods: {
    showPopupThankYou() {
      this.isShowGiftBox = false;
      this.isShowThankYou = true;
    },

    checkGift() {
      const { gift, type } = this.$route.query;
      let caseGift = "case1";

      if (type) caseGift = type;
      if (gift) this.boxCount = Number(gift);

      if (gift == 3) {
        this.gift = this.gifts.gift450[caseGift];
        this.gift.box3 = this.randomGift(this.gift.box3);
      } else if (gift == 2) {
        this.gift = this.gifts.gift300[caseGift];
        this.gift.box2 = this.randomGift(this.gift.box2);
      } else {
        this.gift = this.gifts.gift150[caseGift];
      }
    },

    randomGift(boxes) {
      const index = Math.floor(Math.random() * 3 + 0);
      return boxes[index];
    },

    startCount() {
      var countUp = setInterval(() => {
        this.count += 1;
        if (this.count == 3) {
          this.count = 0;
          clearInterval(countUp);
        }
      }, 1000);
    },

    startGiftBox() {
      this.isShowGiftBox = true;
    },
    stopGiftBox() {
      this.isShowGiftBox = false;
    },
  },
};
</script>

<style scoped lang="scss">
.bg-image {
  background: url("../assets/background/background-affrica.png");

  filter: blur(10px);
  -webkit-filter: blur(10px);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
}
</style>
