<template>
  <div class="gift-box-wrapper">
    <div class="gift-title" v-if="isShow">
      <span>You get {{ boxCount }} gift boxes</span>
      <span v-if="gift.voucher"> and a voucher ${{ gift.voucher }} </span>
    </div>
    <div class="box-list" v-if="isShow">
      <div class="box-item" v-if="boxCount >= 1">
        <template v-if="isShowBox.box1">
          <div :class="isShakeBox.box1 ? 'ani-box-shake' : 'ani-box'">
            <img src="../assets/giftbox.png" />
          </div>
          <div :class="isShakeBox.box1 ? 'ani-button-shake' : 'ani-button'">
            <button
              class="btn-open"
              @mouseover="hoverButton('box1')"
              @mouseleave="leaveButton('box1')"
              @click="tapTo('box1')"
            >
              TAP TO OPEN
            </button>
          </div>
        </template>
        <template v-else>
          <div class="ani-gift-image">
            <img :src="require(`@/assets/clothings/${box1}.png`)" alt="box1" />
          </div>
        </template>
      </div>

      <div class="box-item" v-if="boxCount >= 2">
        <template v-if="isShowBox.box2">
          <div :class="isShakeBox.box2 ? 'ani-box-shake' : 'ani-box'">
            <img src="../assets/giftbox.png" />
          </div>
          <div :class="isShakeBox.box2 ? 'ani-button-shake' : 'ani-button'">
            <button
              class="btn-open"
              @mouseover="hoverButton('box2')"
              @mouseleave="leaveButton('box2')"
              @click="tapTo('box2')"
            >
              TAP TO OPEN
            </button>
          </div>
        </template>
        <template v-else>
          <div class="ani-gift-image">
            <img :src="require(`@/assets/clothings/${box2}.png`)" alt="box1" />
          </div>
        </template>
      </div>

      <div class="box-item" v-if="boxCount >= 3">
        <template v-if="isShowBox.box3">
          <div :class="isShakeBox.box3 ? 'ani-box-shake' : 'ani-box'">
            <img src="../assets/giftbox.png" />
          </div>
          <div :class="isShakeBox.box3 ? 'ani-button-shake' : 'ani-button'">
            <button
              class="btn-open"
              @mouseover="hoverButton('box3')"
              @mouseleave="leaveButton('box3')"
              @click="tapTo('box3')"
            >
              TAP TO OPEN
            </button>
          </div>
        </template>
        <template v-else>
          <div class="ani-gift-image">
            <img :src="require(`@/assets/clothings/${box3}.png`)" alt="box1" />
          </div>
        </template>
      </div>
    </div>

    <div class="checkout-now" v-if="isShow && isShowCheckoutButton">
      <button class="btn-checkout" @click="checkoutNow()">
        GET
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    boxCount: { type: [Array, Number, String], default: 1 },
    gift: { type: [Array, Object], default: null },
    isShow: { type: Boolean, default: false },
  },

  data() {
    return {
      isShakeBox: {
        box1: false,
        box2: false,
        box3: false,
      },
      isShowBox: {
        box1: true,
        box2: true,
        box3: true,
      },
      box1: "",
      box2: "",
      box3: "",
      tapBox: 0,
      isShowCheckoutButton: false,
    };
  },

  watch: {
    tapBox(value) {
      if (value == this.boxCount) {
        setTimeout(() => {
          this.isShowCheckoutButton = true;
        }, 1000);
      }
    },
  },

  methods: {
    hoverButton(box) {
      this.isShakeBox[box] = true;
    },

    leaveButton(box) {
      this.isShakeBox[box] = false;
    },

    tapTo(box) {
      this.isShowBox[box] = false;
      this[box] = this.gift[box];
      this.tapBox += 1;
    },

    checkoutNow() {
      this.$emit("show");
    },
  },
};
</script>

<style scoped lang="scss">
.gift-box-wrapper {
  position: fixed;
  width: 100%;

  .gift-title {
    font-weight: bold;
    font-size: 4rem;
    color: black;

    text-transform: uppercase;
    padding-top: 150px;

    animation: flipInX;
    animation-duration: 1s;

    /* Width and color values */
    -webkit-text-stroke: 1px white;
  }

  .box-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row wrap;
    padding: 50px 200px;

    .box-item {
      text-align: center;
      width: 33.33%;
      animation: fadeIn;
      animation-duration: 4s;

      img {
        width: 350px;
      }

      .ani-box {
        animation: swing;
        animation-duration: 4s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
      }

      .ani-box-shake {
        animation: bounce;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
      }

      .ani-button-shake {
        margin-top: 40px;
        animation: tada;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        &:focus {
          outline: 0;
        }
      }

      .ani-button {
        margin-top: 40px;
        animation: heartBeat;
        animation-duration: 4s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        &:focus {
          outline: 0;
        }
      }

      .ani-gift-image {
        animation: zoomInDown;
        animation-duration: 1s;
      }

      .btn-open {
        cursor: pointer;
        padding: 5px 50px;
        background-color: #3d57be;
        border: 1px solid #3d57be;
        color: white;
        border-radius: 50px;
        font-size: 1.8rem;
        font-weight: bold;
      }
    }
  }

  .checkout-now {
    margin-top: 120px;
    padding-bottom: 50px;
    animation: lightSpeedInLeft;
    animation-duration: 1s;
    animation-delay: 0s;
    .btn-checkout {
      font-weight: bold;
      font-size: 2.4rem;
      padding: 10px 100px;
      border: 1px solid black;
      border-radius: 50px;
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }
}

@media (max-width: 575.98px) {
  .gift-box-wrapper {
    position: relative;

    .gift-title {
      font-size: 1.8rem;
      padding-top: 30px;
    }

    .box-list {
      padding: 40px 0px;

      .box-item {
        width: 50%;
        margin-top: 20px;

        img {
          width: 150px;
        }

        .ani-button-shake {
          margin-top: 20px;
        }

        .ani-button {
          margin-top: 20px;
        }

        .btn-open {
          padding: 5px 20px;
          font-size: 1rem;
        }
      }
    }

    .checkout-now {
      margin-top: 50px;
      .btn-checkout {
        font-size: 1.8em;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .gift-box-wrapper {
    position: relative;

    .gift-title {
      font-size: 2.4rem;
      padding-top: 50px;
    }

    .box-list {
      padding: 10px 0px;

      .box-item {
        width: 50%;
        margin-top: 60px;

        img {
          width: 200px;
        }

        .ani-button-shake {
          margin-top: 20px;
        }

        .ani-button {
          margin-top: 20px;
        }

        .btn-open {
          padding: 5px 30px;
          font-size: 1.4rem;
        }
      }
    }

    .checkout-now {
      margin-top: 50px;
      .btn-checkout {
        font-size: 1.8em;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .gift-box-wrapper {
    position: fixed;
    .gift-title {
      font-size: 3.4rem;
      padding-top: 150px;
    }

    .box-list {
      padding: 40px 0px;

      .box-item {
        width: 50%;
        margin-top: 40px;

        img {
          width: 250px;
        }

        .ani-button-shake {
          margin-top: 40px;
        }

        .ani-button {
          margin-top: 40px;
        }

        .btn-open {
          padding: 5px 50px;
          font-size: 2.4rem;
        }
      }
    }

    .checkout-now {
      margin-top: 50px;
      .btn-checkout {
        font-size: 2.8em;
      }
    }
  }
}
</style>
