<template>
  <transition
    name="custom-classes-transition"
    enter-active-class="animated fadeIn zoomIn duration-image"
    leave-active-class="animated fadeOut"
  >
    <div class="image-list" v-if="isShow">
      <div class="image-item" v-for="(image, index) in images" :key="index">
        <img :src="require(`@/assets/clothings/${image}.png`)" :alt="image" />
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    images: { type: [Array], default: [] },
    isShow: { type: Boolean, default: false },
  },
};
</script>

<style scoped lang="scss">
.duration-image {
  animation-duration: 5s;
}

.image-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 100px;

  .image-item {
    max-width: 100%;
    img {
      width: 650px;
    }
  }
}
</style>
