<template>
  <transition
    name="custom-classes-transition"
    enter-active-class="animated fadeIn zoomIn duration-text"
    leave-active-class="animated fadeOut"
  >
    <div v-if="isShow">
      <h1 class="show-text">
        {{ content }}
      </h1>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    content: { type: String, default: "" },
    isShow: { type: Boolean, default: false },
  },
};
</script>

<style scoped lang="scss">
.show-text {
  color: white;
  text-shadow: 2px 2px 8px #dfa44f;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 7rem;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 350px;
}
.duration-text {
  animation-duration: 5s;
}
</style>
