<template>
  <div class="thank-you" v-if="isShow">
    <div class="popup">
      <div class="popup__img">
        <img src="../assets/thankyou.png" alt="" />
      </div>
      <div class="popup__text">
        <p>We'll send you a confirmation email shortly.</p>
        <p>Check your inbox.</p>
      </div>
      <div class="popup__go">
        <button class="btn-go" @click="goHome">Back Home</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    isShow: { type: Boolean, default: false },
  },

  methods: {
    goHome() {
      location.replace("https://africazone.store/");
    },
  },
};
</script>

<style lang="scss" scoped>
.thank-you {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .popup {
    animation: jackInTheBox;
    animation-duration: 1s;
    animation-delay: 0s;

    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.1);
    background: white;
    max-width: 60%;
    padding: 20px;
    border: 1px solid white;
    border-radius: 20px;

    &__img {
      img {
        width: 60%;
      }
    }

    &__text {
      font-weight: bold;
      font-size: 2rem;
      line-height: 15px;
      margin-top: 10px;
    }

    &__go {
      margin-top: 40px;
      margin-bottom: 20px;

      .btn-go {
        font-weight: bold;
        font-size: 2.4rem;
        padding: 10px 100px;
        border: 1px solid black;
        border-radius: 50px;
        background-color: black;
        color: white;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .thank-you {
    height: 100%;
    padding: 20px;

    .popup {
      max-width: 100%;

      &__img {
        img {
          width: 100%;
        }
      }

      &__text {
        font-size: 1.2rem;
        line-height: 25px;
        margin-top: 20px;
      }

      &__go {
        margin-top: 20px;
        margin-bottom: 20px;

        .btn-go {
          font-size: 1.2rem;
          padding: 10px 80px;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .thank-you {
    height: 100%;
    padding: 40px;

    .popup {
      max-width: 100%;

      &__img {
        img {
          width: 100%;
        }
      }

      &__text {
        font-size: 2rem;
        margin-top: 20px;
      }

      &__go {
        margin-top: 60px;
        margin-bottom: 30px;

        .btn-go {
          font-size: 2.4rem;
          padding: 10px 80px;
        }
      }
    }
  }
}
</style>
